html,
body {
  height: 100%;
}
:root {
  -moz-tab-size: 4;
  tab-size: 0;
}
body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f500;
}

::-webkit-scrollbar-thumb {
  background-color: #a5a5a580;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5a5a5;
}

.dark .prose a {
  --tw-text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.dark .prose strong {
  --tw-text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.prose li {
  color: #000;
  list-style: disc;
  padding: 0 0 0 5px;
}
.dark .prose li {
  color: #fff;
  list-style: disc;
  padding: 0 0 0 5px;
}
.markdown.prose ul > li {
  padding-left: 0.5em;
}

.prose ul {
  margin: 0 0 0 20px;
  padding: 0;
}

.prose li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.markdown.prose p {
  text-align: justify;
  hyphens: auto;
}
